.container-menu-mobile {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;

    width: 50%;
    height: 100%;

    color: #4A2C2A;
    background-color: pink;

    z-index: 10000;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.422);
}

.container-links-menu-mobile ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-btn-fechar{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    justify-content: left;

    top: 0;
    position: absolute;
    width: 100%;
}