header{
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: pink;
    color: #4A2C2A;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.422);
}