
#btn-fazer-pedido{
    padding: 15px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: #A95768;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 25px;
}